@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 23% 97%;
    --foreground: 240 28% 14%;
    --card: 60 23% 97%;
    --card-foreground: 240 28% 14%;
    --popover: 60 23% 97%;
    --popover-foreground: 240 28% 14%;
    --primary: 182 80% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 63% 89%;
    --secondary-foreground: 240 28% 14%;
    --muted: 103 16% 92%;
    --muted-foreground: 240 28% 14%;
    --accent: 13 68% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 182 80% 26%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3 {
    @apply font-heading;
  }
}
